<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <%- include('partials/Bootstrap.ejs') %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/Navbar.ejs')%>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Date RDV</th>
            <th scope="col">Heure RDV</th>
          </tr>
        </thead>
        <%#data.forEach(form => { %>
        <tbody>
          <tr>
            <%=dataUser%>
            <td><%#= form.lastname %></td>
            <td><%#= form.firstname %></td>
            <td><%#= form.email %></td>
            <td><%#= form.rdvDate.toLocaleDateString("fr") %></td>
            <td><%#= form.rdvHeure %></td>
          </tr>
        </tbody>
        <%# }); %>
      </table>

      <a href="/"
        ><button
          type="submit"
          id="boutonRDV"
          class="btn btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem"
        >
          Prendre RDV
        </button></a
      >

      <a href="/user/<%=dataUser.id%>">
        <button
          type="submit"
          id="boutonRDV"
          class="btn btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem"
        >
          Afficher rdv
        </button>

        
      </a>
      <%#=dataRdv.email%>      
    </div>

    <script src="rdv.js"></script>
  </body>
</html>
